[Unit]
Description=VCL API Service
After=network.target

[Service]
User=vcl
WorkingDirectory=/home/vcl/api/
Environment=PORT=8065
Environment=NODE_ENV=production
Environment=CORS_ALLOWED=https://vcl.rigbit.at,http://vcl-api.rigbit.at,*
ExecStart=/home/vcl/.nvm/versions/node/v16.14.2/bin/node /home/vcl/api/dist/server.js
Restart=always

[Install]
WantedBy=multi-user.target
