<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{pwa_title}}</title>

  <meta name="msapplication-starturl" content="/index.html"/>
  <!--<base href="/editor/pwa/" />-->
  <base href="/">

  <!-- theme browser bar -->
  <meta name="theme-color" content="{{pwa_color}}"/>

  <!-- don't forget a manifest ! -->
  <link rel="manifest" href="manifest.json.hbs"/>

  <!-- apple touch icon ! -->
  <link rel="apple-touch-icon" href="img/icons-512.png"/>

  <link rel="stylesheet" href="css/style.css"/>

  <script src="js/p5.min.js"></script>
  <script src="js/use_sw.js"></script>
</head>
<body>
<div class="app">
  <div class="title">{{pwa_title}}</div>
  {{#each pwa_scripts}}
    <script>{{{this}}}</script>
  {{/each}}
</div>
<script src="js/main.js"></script>
</body>
</html>
